*{
  color: #fff;
}


button {
  padding: 15px;
  border: none;
  background-color: blueviolet;
  margin: 25px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid salmon;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  backdrop-filter: blur(20px);
}

h2{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

img{
  max-width: 150px;
}